@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  background-size: cover;
  background-position: center;
  background-image: url("https://th.bing.com/th/id/R.23d94caaff21a17da5ad703dda4d185a?rik=RVnOURUv8Ri4%2fw&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-fluid {
  margin-top: 15px;
}

.card {
  display: inline-block;
  height: 500px;
  width: 250px;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid;
  position: relative;
  text-align: center;
  padding: 50px;
}

.card .header-card {
  position: absolute;
  left: 10%;
  right: -90%;
  transform: translateX(-50%);
  font-size: 100px;
}

.card .num-card {
  line-height: 2;
  font-size: 150px;
}

.card .footer-card {
  position: absolute;
  right: 0%;
  bottom: auto;
  font-size: 100px;
}

.card .diamond,
.card .heart {
  color: red;
}

.card .spade,
.card .club {
  color: black;
}

.button {
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 25px;
  margin-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
